body, html {
	width: 100%;
	color: white;
	padding-top: 70px; 
	background: url("3.png");
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#title{
	color:white;
	text-align: center;
}
h1 small{
	color:white;
	text-align: center;
}

h2 small {
	/*background-color: #625F63;*/
	color: white;
}

table{
	top-margin: 10px;
	text-align: center;
	border-collapse: separate;
	border-spacing: 10px;
}

table img {
	width: 130px;
	height: 130px;
	background-color: transparent;
	/*box-shadow: 0px 0px 5px #000000*/
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td { /* removes the border lines around the table */
  border: 0px #dddddd;
  border-right-width:0px;
  border-left-width:0px;
}

.table{
	border: 0px;
}

.pull-right{
	color: white;
}

footer {
	position: fixed;
	background-color: #222222;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    height: 25px;
}


