body, html {
	width: 100%;
	color: white;
	background: url("3.png");
	padding-top: 70px;
	padding-bottom: 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#title{
	color:white;
	text-align: center;
}
h1 small{
	color:white;
	text-align: center;
}

#contact {
	text-align: center;
}

#quote {
	text-align: center;
}

h2 small {
	/*background-color: #625F63;*/
	color: white;
}
p{
	color:black;
}

.rows img{
	width: 150px;
	height: 150px;
	padding: 10px;
	background-color: transparent;
	/*box-shadow: 0px 0px 5px #000000*/
}

.pull-right{
	color: white;
}

footer {
	position: fixed;
	background-color: #222222;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 5;
    height: 25px;
}
.message_box {
	position: relative;
	margin-left: auto;
	width: 130px;
	height: 70px;
	background: #222222;
	padding:5px;
	text-align:center;
	font-weight:bold;
}

.message_box p{
	color:white;
}

.text {
    position: absolute;
    top: 0;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    width: 130px;
    height: 130px;
    line-height:100px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.im-centered {
	margin:auto;
}

.cinfo {
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
}

.cinfo a {
	color: white;
}
